:root {
    --standard-background-color: steelblue;
    --standard-text-align: center;
    --standard-border: 1px solid;
  }

nav {
  background-color: var(--standard-background-color);
  padding: 10px;
    }

nav a {
    color: white;
    display: block;
    padding: 20px;
    }

h1 {
    color: var(--standard-background-color);
    }

main img {
    width: 150px;
    height: auto;
    border: var(--standard-border) var(--standard-background-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    }

p {
    padding: 0;
    }

main {
    max-width: 700px;
    }

aside {
    width: 300px;
    margin: 20px;
    border: var(--standard-border) #3959f9;
    padding: 20px;
    background-color: #eee;
    color: #000;
    text-align: var(--standard-text-align);
    }

aside img {
    width: 200px;
    height: auto;
    }

footer {
    margin-top: 20px;
    border-top: 1px dotted #3959f9;
    text-align: var(--standard-text-align);
    }